<footer class="bg-dark text-white pt-5 pb-4 mt-auto shadow-lg">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">
      
      <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4">
        <h5 class="text-uppercase fw-bold mb-4 d-flex align-items-center justify-content-center justify-content-md-start">
          <img src="assets/logo.png" alt="Logo LabManager" style="height: 130px; object-fit: contain; filter: brightness(0) invert(1);" class="me-2">
         
        </h5>
        <p class="text-white-50 small">
          Sistema Universal de Gestión de Préstamos para laboratorios. Desarrollado como proyecto académico para la Facultad de Ingeniería de la Universidad Autónoma de San Luis Potosí (UASLP).
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Enlaces</h6>
        <p class="mb-2"><a routerLink="/home" class="text-white-50 text-decoration-none small hover-white">Inicio</a></p>
        <p class="mb-2"><a routerLink="/catalogo" class="text-white-50 text-decoration-none small hover-white">Catálogo de Equipos</a></p>
        <p class="mb-2"><a href="javascript:void(0)" class="text-white-50 text-decoration-none small hover-white">Reglamento del Laboratorio</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
        <p class="text-white-50 small mb-2"><i class="bi bi-geo-alt me-2 text-primary"></i> Edificio de Laboratorios, UASLP</p>
        <p class="text-white-50 small mb-2"><i class="bi bi-envelope me-2 text-primary"></i> soporte.laboratorio@uaslp.mx</p>
        <p class="text-white-50 small mb-0"><i class="bi bi-telephone me-2 text-primary"></i> +52 (444) 826 2300</p>
      </div>
    </div>

    <hr class="mb-4 border-secondary">

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-white-50 small mb-0">
          © {{ anioActual }} Todos los derechos reservados. 
          <strong class="text-white">LabManager UASLP</strong>.
        </p>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-end">
          <a href="javascript:void(0)" class="text-white-50 me-3 text-decoration-none small hover-white">Términos de Uso</a>
          <a href="javascript:void(0)" class="text-white-50 text-decoration-none small hover-white">Políticas de Privacidad</a>
        </div>
      </div>
    </div>
  </div>
</footer>